#match-history-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.2rem;
}

.load-more-btn {
  width: 100%;
  background-color: #fafafa;
  color: #666666;
  border: none;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  border: 2px solid #ccc;
  border-radius: px;
  text-decoration: none;
}
