<div class="leaderboard__container">
  <table id="leaderboard__table" class="leaderboard__table">
    <thead>
      <tr>
        <th onclick="sortColumn(this)" data-sort="name" data-label="Name">
          Name
        </th>
        <th onclick="sortColumn(this)" data-sort="points" data-label="Punkte">
          Punkte
        </th>
        <th onclick="sortColumn(this)" data-sort="winrate" data-label="Winrate">
          Winrate
        </th>
        <th onclick="sortColumn(this)" data-sort="total_games" data-label="Gespielt">
          Gespielt
        </th>

        <th></th>
        <!-- Für den Pfeil -->
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
      <tr class="leaderboard__row" onclick=>
        <td>{{ player.name }}</td>
        <td>{{ player.total_points }}</td>
        <td>{{ player.winrate }}</td>
        <td>{{ player.games_played }}</td>
        <td class="arrow">&gt;</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
