<div class="match-container">
  <div class="match-header">
    <select class="game-mode-select" onchange="updateGameMode()"></select>
  </div>

  <div class="match-meta-row">
    <label class="party-title">
      <input
        type="checkbox"
        name="winner"
        value="Re"
        onchange="updateWinningParty(event)"
        id="re-checkbox"
        class="styled-checkbox"
      />
      <span class="custom-label">Re</span>
    </label>

    <div class="points-title">Punkte</div>

    <label class="party-title kontra">
      <input
        type="checkbox"
        name="winner"
        value="Kontra"
        onchange="updateWinningParty(event)"
        id="kontra-checkbox"
        class="styled-checkbox"
      />
      <span class="custom-label">Kontra</span>
    </label>
  </div>

  <div class="match-body">
    <!-- Re Teams -->
    <div class="party-column" id="re-column">
      <div class="team-block" id="team-block-1">Hinzufügen...</div>
      <div class="team-block" id="team-block-2">Hinzufügen...</div>
    </div>

    <!-- Points Column -->
    <div class="points-column">
      <input
        type="text"
        class="points-box-input"
        min="-99"
        max="99"
        oninput="updatePoints()"
      />
    </div>

    <!-- Kontra Teams -->
    <div class="party-column kontra" id="kontra-column">
      <div class="team-block" id="team-block-3">Hinzufügen...</div>
      <div class="team-block" id="team-block-4">Hinzufügen...</div>
    </div>
  </div>

  <div class="comment-section">
    <div class="comment-title">Kommentare</div>
    <div class="comment-list"></div>
    <input
      type="text"
      id="add-comment"
      placeholder="Schreibe einen Kommentar..."
      autocomplete="off"
      class="add-comment"
      onfocus="showCommentButtons()"
      onblur="hideCommentButtons()"
    />
    <div class="comment-button-wrapper hidden">
      <button class="comment-button discard" onclick="discardComment()">
        Abbrechen
      </button>
      <button class="comment-button send" onclick="addComment()">
        Kommentieren
      </button>
    </div>
  </div>
  <div class="save-button-wrapper">
    <button class="save-button" onclick="saveGame()">Speichern</button>
  </div>
</div>

<!-- MODAL -->

<div id="team-editor-modal" class="modal modal--hidden">
  <div class="modal__backdrop"></div>
  <div class="modal__content" id="team-editor-content">
    <h2 class="modal-title">Team bearbeiten</h2>

    <div id="team-players-section">
      <h3>Spieler*innen</h3>
      <ul id="team-players-list"></ul>
    </div>
    <div class="editor-section">
      <input
        type="text"
        id="player-search"
        placeholder="Spieler*in hinzufügen..."
        autocomplete="off"
        oninput="playerSearchHandleInput(event)"
        class="player-search"
      />
      <div id="player-search-results" class="search-results hidden"></div>
    </div>

    <div id="team-special-section">
      <h3>Sonderkarten</h3>
      <ul id="team-special-list"></ul>
    </div>
    <div class="editor-section">
      <button
        id="add-special-card-btn"
        onclick="specialCardButtonHandleClick(event)"
        class="add-button"
      >
        + Sonderkarte hinzufügen
      </button>
      <div id="special-card-selector" class="selector hidden"></div>
    </div>

    <div id="team-extra-section">
      <h3>Extrapunkte</h3>
      <ul id="team-extra-list"></ul>
    </div>
    <div class="editor-section">
      <button
        id="add-extra-point-btn"
        onclick="extraPointButtonHandleClick(event)"
        class="add-button"
      >
        + Extrapunkt hinzufügen
      </button>
      <div id="extra-point-selector" class="selector hidden"></div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/components/match_editor.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/match_editor.css') }}"
/>

<script src="{{ url_for('static', filename='js/components/team_editor.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/team_editor.css') }}"
/>
