<div class="tabs-wrapper">
  <div class="tabs">
    <input
      type="radio"
      name="tab-control"
      id="tab-game-modes"
      checked
      onchange="updateTabContent()"
    />
    <label for="tab-game-modes" class="tab-label">Spielmodi</label>

    <input
      type="radio"
      name="tab-control"
      id="tab-special-cards"
      checked
      onchange="updateTabContent()"
    />
    <label for="tab-special-cards" class="tab-label">Sonderkarten</label>

    <input
      type="radio"
      name="tab-control"
      id="tab-extra-points"
      onchange="updateTabContent()"
    />
    <label for="tab-extra-points" class="tab-label">Extrapunkte</label>

    <input
      type="radio"
      name="tab-control"
      id="tab-team-partners"
      onchange="updateTabContent()"
    />
    <label for="tab-team-partners" class="tab-label">Teamstatistik</label>

    <input
      type="radio"
      name="tab-control"
      id="tab-stats-alone"
      onchange="updateTabContent()"
    />
    <label for="tab-stats-alone" class="tab-label">Einzelstatistik</label>
  </div>

  <div class="tab-content show" id="content-game-mode">
    <div id="gameModeTableContainer"></div>
    <table class="game-mode-table" id="gameModeTable"></table>
  </div>
  <div class="tab-content" id="content-special-cards">
    <div id="specialCardsTableContainer"></div>
    <table class="special-cards-table" id="specialCardsTable"></table>
  </div>
  <div class="tab-content" id="content-extra-points">
    <div id="extraPointsTableContainer"></div>
    <table class="extra-points-table" id="extraPointsTable"></table>
  </div>
  <div class="tab-content" id="content-team-partners">
    <div id="partnerTableContainer"></div>
    <table class="partner-table" id="partnerTable"></table>
  </div>
  <div class="tab-content" id="content-stats-alone">
    <div id="aloneTableContainer"></div>
    <table class="alone-table" id="aloneTable"></table>
  </div>
</div>

<script src="{{ url_for('static', filename='js/components/player_stats/player_stats.js') }}"></script>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/components/player_stats/player_stats.css') }}"
/>
