<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Style -->
    <!-- Style for base.html -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base/base.css') }}"
    />
    <!-- Style for Navbar -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base/navbar.css') }}"
    />
    <!-- Style for Titlecard -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base/titlecard.css') }}"
    />

    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    {% include 'base/navbar.html' %}

    <div class="titlecard">
      <h1>{% block titlecard %}{% endblock %}</h1>
    </div>

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Scripts -->
    <!-- Base js -->
    <script src="{{ url_for('static', filename='js/base/base.js') }}"></script>
    <!-- Navbar js -->
    <script src="{{ url_for('static', filename='js/base/navbar.js') }}"></script>
    <!-- Titlecard js -->
    <script src="{{ url_for('static', filename='js/base/titlecard.js') }}"></script>
  </body>
</html>
